 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav .logo {
    font-size: 22px;
    color: #5923a4;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav ul li a:hover {
    color: #5923a4;
}

.hero {
    padding: 120px 20px;
    text-align: center;
    background: #f3f6ff;
}

.hero h1 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    background: #5923a4;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
}

.container {
    width: 80%;
    margin: 40px auto;
    /*text-align: center; */
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    border: 1px solid #e1e4f0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

textarea {
    height: 130px;
}

footer {
    background: #b8bfcd;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

